body {
  background-image: linear-gradient(
    to bottom right,
    red,
    yellow,
    orange,
    purple,
    blue,
    purple,
    orange,
    yellow,
    red
  );
}
p {
  color: black;
  font-size: x-large;
}
h1 {
  color: black;
  font-size: xx-large;
}
p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
h2 {
  color: red;
}
input {
  float: right;
}

#profpic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
